@import 'utils';

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html {
  background-color: $color-negative-off;
  color: $color-positive;
  font-family: $font-primary;
}

#mainMenu {
  margin: 0px;
  padding: 0px;
  background-color: $color-negative;
  font-family: $font-decorative;

  a {
    display: inline-block;
    margin: 4px 1px 0px;
    padding: 0.5em 2em;
    min-width: 80px;
    @include border-radius(12px 12px 0px 0px);

    color: $color-positive;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    background-color: $color-primary-dark;
  }
}

#header {
  margin: 0px;
  padding: 2px 30px;

  background-color: $color-primary-dark;
  border: solid $color-primary;
  border-width: 4px 0px;
  
  text-align: right;
  font-family: $font-decorative
}

#main {
  position: relative;
  margin: 0px auto -2em;
  padding: 0px 0px;
  width: 640px;
  overflow: auto; // prevent margin collapsing
  @include border-radius(0px 0px 16px 16px);
  background-color: $color-negative;

  #main-header {
    text-align: center;
    
    span {
      font-family: $font-secondary;
      
      padding: 0.2em 1em;
      background-color: $color-negative-off;
      font-size: 200%;
      @include border-radius(0px 0px 8px 8px);
    }
  }
}

#footer {
  margin: 40px auto 10px;
}
