@import 'utils';

@media (max-device-width: 800px) {
  #body { width: 100%; }

  p {
    margin: 8px 4px;
    padding-left: 10px;
  }

  #mainMenu a {
    display: block;
    margin: 2px auto;
    padding: 0.25em 2em;

    font-size: 150%;
    @include border-radius(8px);
  }

  #main { width: 95%; }

  .section {
    margin: 4px;
    padding: 4px;
  }

  hr { width: 65%; }
}
