body {
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: column;
  flex: auto 1 1;
  margin: 0px 32px;
  height: auto!important;
  width: auto!important;
}

.text-adventure {
  display: flex;
  margin: 8px;
  padding: 8px;
  flex: 1 1 auto;

  font-family: Courier New, Courier, monospace;

  .panel {
    margin: 8px;
    padding: 8px;
    flex: 1 1 0;
    border: silver 3px outset;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
  }

  .no-growth {
    flex-grow: 0;
    flex-basis: auto;
  }

  .map {
    padding: 0px;
    flex: 0 1 auto;
  }
}