.Log {
  & .message {
    margin: 0.5em;
    text-align: start;
    animation-duration: 1s;
    animation-name: fade-slide-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
