.Button {
  background: #111;
  border-radius: 1em;
  color: white;
  padding: 1em;
  font-weight: bold;
  border: solid 2px #222;
  user-select: none;
}

.Button:hover {
  border-color: #333;
}

.Button:active {
  background-color: #000;
  border-color: #444;
  transform: translateY(2px);
}
